<div>
    <md-card>
        <md-subheader md-whiteframe="4" md-theme="inverse" class="md-toolbar-tools">Destinations</md-subheader>
        <md-list>
            <md-list-item class="md-3-line" ng-repeat="mountain in $ctrl.mountains">
                <img ng-src="{{mountain.img_link}}" class="md-avatar" style="height: 150px; width: 150px;">
                <div class="md-list-item-text">
                    <div>
                        <h3>{{mountain.name}}</h3>
                        <h4>Location: <b>{{mountain.province}}</b></h4>
                        <h4>Elevation: <b>{{mountain.elev}}</b></h4>
                        <h4>Specs: <b>{{mountain.specs}}</b></h4>
                        <h4>Days required / Hours to summit: <b>{{mountain.est_duration}}</b></h4>
                        <h4>Capacity: <b>{{mountain.capacity}}</b></h4>
                    </div>
                    <br/>
                    <div ng-show="mountain.expand">
                        <label>BACKGROUND</label>
                        <div style="padding: 0 20px 10px 0;">{{mountain.description}}</div>
                    </div>
                </div>
                <md-button class="md-raised md-secondary" style="background: #FF9800;"
                           ng-click="$ctrl.bookHike(mountain)"
                           ng-show="$ctrl.isLoggedIn()">Book Now
                </md-button>
                <md-button class="md-raised md-secondary" ng-click="$ctrl.toggleExpand(mountain)" ng-hide="mountain.expand">Learn More</md-button>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </md-card>
</div>
