<div class="starter-template">
    <!-- anything typed in here is magically saved to our Firebase database! -->
    <input type="text" ng-model="data.text"/>
    <!-- all changes from our Firebase database magically appear here! -->
    <h1>Array: {{ data.text }}</h1>

    <div ng-repeat="mt in mountains" class="list-group-item">
        <h4>{{mt.name}} - {{mt.elev}}</h4>
    </div>
</div>
