  <div layout="row" layout-align="center center">
  <div flex="70">
    <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch >

      <md-card-title>
        <md-card-title-text layout-align="center center">
          <span class="md-headline">User Profile</span>
        </md-card-title-text>
      </md-card-title>
      <md-divider></md-divider>

      <div layout="row">

        <div flex="30" layout="col" layout-align="space-around center">
          <md-card-title-media>
            <md-card-avatar><img src="/img/hiker.jpg" class="md-user-avatar" height="200" width="200"></md-card-avatar>
          </md-card-title-media>
        </div>

        <div flex="70">
          <div layout="column" layout-padding ng-cloak>
            <br/>
            <md-content class="md-no-momentum">
              <md-input-container md-no-float class="md-block">
                <md-icon>person</md-icon>
                <input ng-model="$ctrl.username" type="text" readonly>
              </md-input-container>
              <md-input-container class="md-icon-float md-block">
                <md-icon md-font-icon="person" class="name">person</md-icon>
                <input ng-model="$ctrl.name" type="text" readonly>
              </md-input-container>
              <md-input-container class="md-block">
                <md-icon class="email">email</md-icon>
                <input ng-model="$ctrl.email" type="email"readonly>
              </md-input-container>
<!--               <md-input-container class="md-block">
                <md-datepicker ng-model="$ctrl.birthday" disabled></md-datepicker>
              </md-input-container> -->
            </md-content>
          </div>
        </div>
      </div>

      <md-card-content>
        <h4>Upcoming Events</h2>
        <md-list>
          <md-item ng-repeat="item in $ctrl.events | filter:search">
            <md-item-content>
              <div class="md-tile-left inset" hide-sm>
                  <img src="/img/mountain.svg" class="md-avatar">
              </div>
              <div class="md-tile-content">
                <h3>{{item.what}}</h3>
                <h4>{{item.when}}</h4>
                <p>
                  {{item.description}}
                </p>
              </div>
            </md-item-content>
            <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
            <md-divider hide-gt-sm ng-if="!$last"></md-divider>
          </md-item>
          <md-divider></md-divider>
          <md-item layout class="inset">
              <md-button layout layout-align="start center" flex class="md-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg> More
              </md-button>
          </md-item>
        </md-list>
       
      </md-card-content>

      <md-card-actions layout="row" layout-align="end center">
        <!-- <md-button>Edit</md-button> -->
      </md-card-actions>
    </md-card>
  </div>
</div>
