<style>
  .capacity-warning{
    background-color:#FFCDD2 !important;
  }
  .capacity-caution{
    background-color:#FFF9C4 !important;
  }
</style>
<div layout="row">
  <md-content flex="20" layout-padding md-whiteframe="4" md-theme="inverse">
    <h1>{{$ctrl.mountain.name}}</h1>
    <p>Location: <b>{{$ctrl.mountain.province}}</b></p>
    <p>Elevation: <b>{{$ctrl.mountain.elev}}</b></p>
    <p>Specs: <b>{{$ctrl.mountain.specs}}</b></p>
    <p>Days required / Hours to summit: <b>{{$ctrl.mountain.est_duration}}</b></p>
    <p>Capacity: <b>{{$ctrl.mountain.capacity}}</b></p>
    <md-divider></md-divider>
    <p>
      {{$ctrl.mountain.description}}
    </p>
  </md-content>
  <md-content flex="50" layout="column" layout-padding md-whiteframe="1" ng-if="$ctrl.mountain">
    <div layout="row">
      <div flex="70">
        <h2>{{$ctrl.calendarTitle}}</h2>
      </div>
    </div>
    <div>
      <div class="btn-group">
        <button
          class="btn btn-primary"
          mwl-date-modifier
          date="$ctrl.viewDate"
          decrement="$ctrl.calendarView">
          Previous
        </button>
        <button
          class="btn btn-default"
          mwl-date-modifier
          date="$ctrl.viewDate"
          set-to-today>
          Today
        </button>
        <button
          class="btn btn-primary"
          mwl-date-modifier
          date="$ctrl.viewDate"
          increment="$ctrl.calendarView">
          Next
        </button>
      </div>
    </div>
    <mwl-calendar
      view="$ctrl.calendarView"
      view-title="$ctrl.calendarTitle"
      view-date="$ctrl.viewDate"
      events="$ctrl.events"
      on-event-click="noop()"
      on-timespan-click="$ctrl.onTimespanClick(calendarDate)"
      cell-modifier="$ctrl.cellModifier(calendarCell)"
      on-view-change-click="false"
      slide-box-disabled="true">
    </mwl-calendar>
    <div flex-offset="60" flex="40">
      <b>Legend</b>
      <ul>
        <li><span class="capacity-caution">Caution</span>: 60%-80% capacity</li>
        <li><span class="capacity-warning">Warning</span>: &gt;80% capacity</li>
      </ul>
    </div>
  </md-content>
  <md-content flex="30" layout="column" layout-padding ng-if="$ctrl.mountain">
    <h2>Book a Hike</h2>
    <form name="hikeForm" ng-submit="hikeForm.$valid && $ctrl.bookHike()">
      <div>
        <md-input-container class="md-input-has-value" flex>
          <label>Duration</label>
          <md-radio-group ng-model="$ctrl.hikeForm.duration" layout="row" >
            <md-radio-button value="single">Day Hike</md-radio-button>
            <md-radio-button value="multiple">Multiple Days</md-radio-button>
          </md-radio-group>
        </md-input-container>
      </div>
      <div layout="row">
        <md-input-container flex="40">
          <label>Start date</label>
          <md-datepicker ng-model="$ctrl.hikeForm.startDate" ng-change="this.focus()" md-hide-icons="calendar" required></md-datepicker>
        </md-input-container>
        <md-input-container ng-if="$ctrl.hikeForm.duration == 'multiple'">
          <label>End date</label>
          <md-datepicker ng-model="$ctrl.hikeForm.endDate" md-hide-icons="calendar" required></md-datepicker>
        </md-input-container>
      </div>
      <div layout="column">
        <h4>Participants ({{$ctrl.hikeForm.participants.length}})</h4>
          <md-list flex>
            <md-list-item ng-click="noop()" ng-repeat="participant in $ctrl.hikeForm.participants">
                <md-icon>face</md-icon>
                <p>{{ participant.name }}</p>
                <md-icon class="md-secondary" ng-show="participant.removable">clear</md-icon>
            </md-list-item>
            <md-list-item ng-click="$ctrl.addParticipant()">
              <md-icon>add_circle_outline</md-icon>
              <p>Add More People</p>
            </md-list-item>
          </md-list>
      </div>
      <div layout="column">
        <md-button type="submit" class="md-raised md-primary">Book</md-button>
      </div>
    </form>
  </md-content>
</div>
