<md-toolbar md-whiteframe="6">
    <span></span>
    <span flex></span>
    <div class="md-toolbar-tools">
        <img src="/img/mountain.svg" style="height: 80%; -webkit-filter: invert(1); filter: invert(1);">
        <p style="font-size: 30px; padding: 14px 0 0 10px"><a href="#">Trekkr</a></p>
        <span flex></span>
        <md-button class="md-raised" ng-show= '$ctrl.isLoggedIn()' ng-click='$ctrl.goToHome()'>
          <md-icon md-font-icon="person" class="name">home</md-icon>
        </md-button>
        <!-- <img src="/img/hiker.jpg" class="md-user-avatar" height="50" width="50"> -->
        <md-button class="md-raised" ng-show= '$ctrl.isLoggedIn()' ng-click='$ctrl.goToProfile()'>
          <md-icon md-font-icon="person" class="name" >person</md-icon>
        </md-button>
        <md-button class="md-raised" ng-show= '!$ctrl.isLoggedIn()' ng-click='$ctrl.openLoginModal()'>Login</md-button>
        <md-button class="md-raised md-warn" ng-click='$ctrl.openSignupModal()' ng-show= '!$ctrl.isLoggedIn()'>Sign up</md-button>
    </div>
</md-toolbar>

<script type="text/ng-template" id="loginModal.html">

<md-dialog aria-label="Login" ng-cloak flex="30">

    <form name="loginForm" data-ng-submit="vm.handleSubmit()">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Login</h2>
                <span flex></span>
                <md-button type="button" class="md-icon-button" ng-click="vm.handleCancel(); $event.stopPropagation();">
                    <md-icon md-svg-icon="navigation:close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <md-icon md-font-icon="person">person</md-icon>
                    <label>Username:</label>
                    <input ng-model="vm.user.username" required>
                </md-input-container>

                <md-input-container class="md-block">
                    <md-icon md-font-icon="person">lock</md-icon>
                    <label>Password:</label>
                    <input ng-model="vm.user.password" type="password" required>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button type="submit" class="md-raised md-primary"
                       ng-class="{'md-raised md-hue-1': (loginForm.$dirty && loginForm.$valid) }"
                       aria-label="OK">
                OK
            </md-button>
            <md-button type="button" ng-click="vm.handleCancel(); $event.stopPropagation();"
                       aria-label="Cancel">
                Cancel
            </md-button>
        </md-dialog-actions>

    </form>

</md-dialog>
</script>

<script type="text/ng-template" id="signupModal.html">

<md-dialog aria-label="Signup" ng-cloak flex="30">

    <form name="signupForm" data-ng-submit="vm.handleSubmit()">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Sign Up</h2>
                <span flex></span>
                <md-button type="button" class="md-icon-button" ng-click="vm.handleCancel(); $event.stopPropagation();">
                    <md-icon md-svg-icon="navigation:close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label>First Name:</label>
                    <input ng-model="vm.user.firstName" required>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Last Name:</label>
                    <input ng-model="vm.user.lastName" required>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>User Name:</label>
                    <input ng-model="vm.user.username" name="username" required>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Password:</label>
                    <input ng-model="vm.user.password" type="password" required>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Email:</label>
                    <input ng-model="vm.user.email" name="email" required>
                </md-input-container>
<!--                 <md-input-container class="md-block">
                    <md-datepicker ng-model="vm.birthday" md-placeholder="Birthday" md-open-on-focus></md-datepicker> -->
                </md-input-container>
            </div>

        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button type="submit" class="md-raised md-primary"
                       ng-class="{'md-raised md-hue-1': (signupForm.$dirty && signupForm.$valid) }"
                       aria-label="OK">
                OK
            </md-button>
            <md-button type="button" ng-click="vm.handleCancel(); $event.stopPropagation();"
                       aria-label="Cancel">
                Cancel
            </md-button>
        </md-dialog-actions>

    </form>

</md-dialog>
</script>
